<OsfLayout @backgroundClass='{{local-class 'ContentBackground'}}' as |layout|>
    <layout.heading>
        <Overview::-Components::OverviewHeader @mode={{this.mode}} @registration={{this.registration}} />
    </layout.heading>
    <layout.main>
        {{#if (eq this.registration.reviewsState 'withdrawn')}}
            <Overview::-Components::TombstonePage @registration={{this.registration}} @icon='ban'
                @titleText={{t 'registries.overview.withdrawn.has_been_withdrawn'}}>
                <dl>
                    <dt>{{t 'registries.overview.withdrawn.date_withdrawn'}}</dt>
                    <dd>{{moment-format this.registration.dateWithdrawn 'MMMM D, YYYY'}}</dd>

                    <dt>{{t 'registries.overview.withdrawn.justification'}}</dt>
                    <dd>
                        {{#if this.registration.withdrawalJustification}}
                            {{this.registration.withdrawalJustification}}
                        {{else}}
                            {{t 'registries.overview.withdrawn.no_justification'}}
                        {{/if}}
                    </dd>
                </dl>
            </Overview::-Components::TombstonePage>
        {{else}}
            <Overview::-Components::TombstonePage @registration={{this.registration}} @icon='hourglass-half'
                @titleText={{t 'registries.overview.archiving.currently_archiving'}}>
                <div local-class='NoticeText'>
                    {{t 'registries.overview.archiving.please_note'}}
                </div>
                {{t 'registries.overview.archiving.email_support' supportEmail=this.supportEmail htmlSafe=true}}
            </Overview::-Components::TombstonePage>
        {{/if}}
    </layout.main>
</OsfLayout>