<BsModal
    local-class='FeIntercept__modal'
    @onHidden={{@closeModal}}
    as |modal|
>
    <modal.header>
        <h3 data-test-fe-intercept-header class='modal-title'>{{t 'dashboard.fe_intercept.report_issue_modal'}}</h3>
    </modal.header>
    <modal.body data-analytics-scope='Fe Intercept modal'>
        <div class='text-left'>
            <div class='form-group m-v-sm'>
                <label class='f-w-lg text-bigger' local-class='FeIntercept__label'>
                    {{t 'dashboard.fe_intercept.issue_url'}}
                    <Input
                        data-test-new-project-title
                        @placeholder={{t 'dashboard.fe_intercept.url_placeholder'}}
                        @autofocus='autofocus'
                        @class='form-control issue-url'
                        @required={{true}}
                        @value={{this.nodeTitle}}
                        @type='text'
                        @enter={{action this.create}}
                    />
                </label>
            </div>
            {{#if this.issueTypes.length}}
                <div class='form-group m-v-sm' local-class='FeIntercept__issue-selector'>
                    <label class='f-w-lg text-bigger'>{{t 'dashboard.fe_intercept.issue_type_selector'}}</label>
                    <BsButton
                        data-analytics-name='Remove all issues'
                        @type='link'
                        @onClick={{action this.removeAllIssues}}
                    >
                        {{t 'dashboard.fe_intercept.remove_all'}}
                    </BsButton>
                    <BsButton
                        data-analytics-name='Select all issues'
                        @type='link'
                        @onClick={{action this.selectAllIssues}}
                    >
                        {{t 'dashboard.fe_intercept.select_all'}}
                    </BsButton>
                    <table>
                        <tbody>
                            <tr data-test-issue-type-button-row >
                                {{#each this.issueTypes as | issueType |}}
                                    <td>
                                        <BsButton
                                            data-test-issueType-selected='{{if (if-filter issueType this.selectedIssue) 'selected' 'not-selected'}}'
                                            data-analytics-name='select_issue_type'
                                            local-class='FeIntercept__issueType-button'
                                            @type='link'
                                            @onClick={{action this.selectIssue issueType}}
                                        >
                                            <div width='45px' height='45px' local-class='FeIntercept__issueType-item'>
                                                <img
                                                    name='{{issueType.name}}'
                                                    width='45px'
                                                    height='45px'
                                                    class='img-circle pointer'
                                                    local-class='FeIntercept__issueType-img-{{if (if-filter issueType this.selectedIssue) 'selected' 'not-selected'}}'
                                                    src='{{issueType.logoRoundedUrl}}'
                                                    alt='{{issueType.name}}'
                                                    title='{{issueType.name}}'>
                                            </div>
                                        </BsButton>
                                    </td>
                                {{/each}}
                            </tr>
                        </tbody>
                    </table>
                </div>
            {{/if}}
            <div class='form-group m-v-sm'>
                <label for='projectDesc' class='f-w-lg text-bigger' local-class='FeIntercept__label'>
                    {{t 'dashboard.fe_intercept.issue_description'}}
                    <Input
                        data-test-project-description-input
                        @placeholder={{t 'dashboard.fe_intercept.issue_short_description'}}
                        @class='form-control noresize project-desc'
                        @value={{this.description}}
                        @type='text'
                    />
                </label>
            </div>
            <BsButton
                data-analytics-name='Toggle more'
                local-class='FeIntercept__more'
                @type='link'
                @onClick={{action 'toggleMore'}}
            >
                {{fa-icon (concat 'caret-' (if this.more 'down' 'right'))}} {{t 'dashboard.fe_intercept.more'}}
            </BsButton>
            {{#if this.more}}
                <div data-test-select-template class='form-group m-v-md'>
                    <label class='f-w-lg text-bigger' local-class='FeIntercept__label'>
                        {{t 'dashboard.fe_intercept.associated_project'}}
                        <p class='f-w-xs help-text'>{{t 'dashboard.fe_intercept.template_placeholder'}}</p>
                        <PowerSelect
                            @search={{action this.searchNodes}}
                            @selected={{this.templateFrom}}
                            @onChange={{action this.selectTemplateFrom}}
                            @renderInPlace={{true}}
                            @noMatchesMessage={{t 'dashboard.fe_intercept.no_matches'}}
                            @searchMessage={{t 'dashboard.fe_intercept.template_placeholder'}}
                            @placeholder={{t 'dashboard.fe_intercept.template_placeholder'}}
                            @searchEnabled={{true}}
                        >
                        </PowerSelect>
                    </label>
                </div>
            {{/if}}
        </div>
    </modal.body>
    <modal.footer data-analytics-scope='Fe Intercept modal footer'>
        <BsButton
            data-test-fe-intercept-cancel
            data-analytics-name='cancel'
            @onClick={{action modal.close}}
        >
            {{t 'dashboard.fe_intercept.cancel_request'}}
        </BsButton>
        <BsButton
            data-test-fe-intercept-submit
            data-analytics-name='Issue submit'
            disabled={{unless this.nodeTitle.length true}}
            @onClick={{action this.create}}
            @type='success'
        >
            {{t 'dashboard.fe_intercept.send_issue'}}
        </BsButton>
    </modal.footer>
</BsModal>
